
header{
    position: static;
}

.tittletext{
    color: #502314;
    
    font-size: 48px;
    font-style: normal;
    font-weight: 500px;
    text-align: center;
    padding: 40px 0;
}

div#cardapiobar{
    text-align: center;
}


table{
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    height: auto;
    border-radius: 10px; 
    overflow: hidden; 
    
}
table th, table td{
    border: none;
    padding: 15px;
    text-align: left;
    margin: 5px 0
    
}

td h2 {
    color: #502314;
    font-weight: bold;
    font-size: 28px; 
    vertical-align: top;
    margin-bottom: 10px; 
}

td p.descricao {
    color: #777;
    font-size: 18px;
    text-align: left;
    text-align: justify;
    margin-bottom: 10px;
}
td p.valor{
    text-align: right;
    font-weight: bold;
    color: #ff26009c; 
    font-size: 24px; 
    
}
td img {
    max-height: 250px;
}
.btnScroll {
    background: transparent; 
    border: none; 
    padding: 5px 10px; 
    font-size: 16px; 
    transition: border-bottom 0.3s, font-weight 0.3s; 
    cursor: pointer;
    text-decoration: none;
    position: relative; 
}
.btnScroll:active {
    transform: translateY(2px);
}

.btnScroll:hover {
    font-weight: bold; 
    border-bottom: 2px solid rgb(10, 10, 10); 
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tr:nth-child(odd) {
    background-color: #f2f2f2; 
}
body {
    font-family: 'Roboto', Arial, sans-serif;
    
}
