
div#cardapiotext{
    margin: 5% 43%;
    border-radius: 5px;
    background-color: black;
    text-align: center;
       
}

.tittletext{
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
}

div#cardapiobar{
    text-align: center;
    

}
.button{
    padding-right: 4%;
    border: none;
    text-align: center;
    cursor: pointer;
}
.button:focus{
    border: none;
    outline: none;
}
.button:hover{
    font-weight:bolder;
}

table{
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    height: auto;
}
table th, table td{
    border: none;
    padding: 8px;
    text-align: left;
    margin: 5px 0
}
th{
    background-color: #f0f0f0;
}
td h2{
    font-weight: bold;
}
td p.descricao{
    color: #777;
    font-size: 14px;
    text-align: center;
    margin: 0;
}
td p.valor{
    text-align: right;
    font-weight: bold;
}
td img {
    max-height: 300px;
}
