@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {

    --cor1: #66382A;

    --sabordecarne: 'Orbitron', sans-serif;
    --titulo: 'Pacifico', cursive;

}

main {
    text-align: center;
}

.welcome {
    display: flex;
    background: no-repeat url("../images/teste.jpg");
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    margin-top: 30px;
    align-items: center;
    height: 500px;
    width: 95%;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.425);
    border-radius: 10px;
}

.welcome:hover {
    transition: 2s;
    box-shadow: -15px 15px 18px rgba(0, 0, 0, 0.425);
}

.welcome p {
    margin: auto;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    font-family: var(--titulo);
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.726);
}
