@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    box-shadow: 2px 2px 2px solid black;
}

nav {
    display: flex;
    padding: 20px;
    margin: 10px;
}

div#center {
    text-align: center;
    flex-grow: 1;
}

div#center {
    text-align: right;
}

div#left {
    text-align: left;
}